* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#root,
html {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 200px) and (max-width: 699px) {
  body {
    background-image: url("./images/phone background.jpg");
    height: 100vh;
  }

  /* HEADER CONTROLS */
  .header {
    margin: 0;
    padding: 0;
  }

  .logo {
    height: 60px;
    width: auto;
    margin: 15px;
  }

  .icon {
    background: none;
    border: none;
    float: right;
    margin: 25px;
  }

  .material-icons {
    font-size: 35px;
    text-align: center;
  }

  /* HOME CONTROLS */
  .home {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .firstName {
    font-size: 60px;
    font-weight: 200;
    margin-top: 200px;
    color: #595959;
  }

  .lastName {
    font-size: 60px;
    font-weight: 250;
    margin-top: -25px;
    color: #595959;
  }

  @keyframes bounce {
    from {
      margin-top: 250px;
    }
    to {
      margin-top: 245px;
    }
  }

  .icon1 {
    margin-top: 250px;
    margin-left: 20px;
    color: #595959;
    text-align: center;
    animation: bounce 1s infinite alternate ease;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1019px) {
}

@media only screen and (min-width: 1020px) and (max-width: 1439px) {
}

@media only screen and (min-width: 1440px) and (max-width: 3000px) {
}
